table {
      width: 100%;
      border: 1px solid #000;
    }
    th.name {
      width: 20%
    }

    th.phone {
      width: 15%
    }
    th.address {
      width: 35%; /* Not necessary, since only 70% width remains */
    }

    th.button1, th.button2 {
      width: 15%
    } 