<div>
    <ul class="list">
	<li class="background" dir-paginate="article in articles | filter:{title: query} | itemsPerPage: 2" on-last-repeat>
		 
      	<a href="#/article/{{article.id}}">

      	 <p><h3>{{article.title}}</h3> </p> </a>
	     
         <p> {{article.data | cut:true:350: ' ... '}} <a href="#/article/{{article.id}}"> (see more)</a> </p> 

            <p><h4>{{article.by}} </h4></p> 
	 
	</li>
    </ul>	
    <div ng-controller="OtherController" class="other-controller">
          <small>this is in "OtherController"</small>
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
          </div>
        </div>

</div>

